*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

:root{

    --clr-orange: #F66B0E;
    --clr-orange-light: #FFF8F0;
    --clr-black: #112B3C;
    --clr-black-light: #828282;
    --clr-white: #FFFFFF;


    --fw-regular: 400;
    --fw-bold: 700; 

    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;
    --fs-64: 4rem;
    --fs-96: 6rem;
}

.header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    /* border: 2px solid blue; */
}
.nav{
    /* border: 2px solid #112B3C; */
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 135px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.menu-link{
    color: var(--clr-black);
}
.nav-cta{
    /* border: 2px solid #112B3C;  */
    display: flex;
    gap: 40px;
    padding: 10px 0px ;
    justify-content: space-between;
    align-items: center;

}
   
.button{
    all: unset;
    color: var(--clr-white);
    padding: 10px 20px;
    background-color: var(--clr-orange);
}

h2{
    font-size: var(--fs-64);
}
h3{
    font-size: var(--fs-24);
}
h4{
    font-size: var(--fs-20);
    font-weight: var(--fw-regular);
    color: var(--clr-black-light);
}
h5{
    font-size: var(--fs-16);
}

.title-subtitle-heading{
    /* border: 2px solid blue; */
    margin: 80px 235px 0px 235px;
    text-align: center;
    font-size: var(--fs-96);
}

.title-subtitle h4{
    /* border: 2px solid black; */
    margin: 40px 339px 0px 335px;
    text-align: center;
}
/* .title-subtitle img{
    position: absolute;
    top: 237px ;
    right: 375px;
} */
.search-bar{
    /* border: 2px solid black; */
    height: 100px;
    width: 770px;
    margin: 40px auto -40px;
    background: #ffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    /* border: 2px solid black; */
    margin: auto;
    width: 667px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar{
    all: unset;
    font-weight: var(--fw-regular);
    font-size: var(--fs-20);
}
.img{
    display: block;
    margin: auto;
}
